<div class="sidebar">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <!-- input-group -->
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
            <!-- /input-group -->
        </li>
        <li class="user-pro">
            <a href="#" class="text-center">
                <div class="profile-img">
                    <img src="/assets/images/profile.jpg"/>
                </div>
                <span>Steve Gection</span>
                <small class="text-center">Senior Developer</small>
            </a>
        </li>
        <li><a href="index.html" class="waves-effect active"><i class="fa fa-home"></i> <span
                class="hide-menu">Dashboard</span></a></li>
        <li class=""><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope-o"></i> <span
                class="hide-menu"> Mailbox <span class="fa arrow"></span><span
                class="label label-rouded label-danger pull-right">6</span></span></a>
        </li>
        <li>
            <a href="index.html">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Form</span>
            </a>
        </li>
        <li>
            <a href="index.html">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Tables</span>
            </a>
        </li>
        <li>
            <a href="index.html">
                <i class="fa fa-map-marker"></i>
                <span class="hide-menu">Maps</span>
            </a>
        </li>
        <li>
            <a href="index.html">
                <i class="fa fa-file-text"></i>
                <span class="hide-menu">Pages</span>
            </a>
        </li>
    </ul>
</div>
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-dollar"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Today's Earnings</h5>
                            <h1 class="mt5">$8,102.32</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">$29,009</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">$99,103</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-users"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">New User Accounts</h5>
                            <h1 class="mt5">138,102</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">10,009</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">178,222</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-pencil"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">New User Posts</h5>
                            <h1 class="mt5">153,900</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">144,009</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">987,212</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
