<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Basic Form Elements<span class="panel-subtitle">These are the basic form elements</span>
          </div>
          <div class="panel-body">
            <div class="xs-mt-10 xs-mb-10  ">
              <div class="row">
                <div class="col-md-8">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Text input</label>
                        <div class="col-sm-9">
                          <input id="form-control-1" class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-2">Rounded text input</label>
                        <div class="col-sm-9">
                          <input id="form-control-2" class="form-control input-pill" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-4">Password input</label>
                        <div class="col-sm-9">
                          <input id="form-control-4" class="form-control" type="password" value="password">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-5">Placeholder Input</label>
                        <div class="col-sm-9">
                          <input id="form-control-5" class="form-control" type="email"
                                 placeholder="Placeholder input text">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-6">Disabled Input</label>
                        <div class="col-sm-9">
                          <input id="form-control-6" class="form-control" type="text" placeholder="Disabled input text"
                                 disabled="disabled">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-7">Read only input</label>
                        <div class="col-sm-9">
                          <input id="form-control-7" class="form-control" type="email" value="Read only input text"
                                 readonly="readonly">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Static input</label>
                        <div class="col-sm-9">
                          <p class="form-control-static">email@example.com</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-8">Textarea</label>
                        <div class="col-sm-9">
                          <textarea id="form-control-8" class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-9">Select</label>
                        <div class="col-sm-9">
                          <select id="form-control-9" class="form-control">
                            <option value="corporate">Corporate</option>
                            <option value="creative">Creative</option>
                            <option value="ecommerce">eCommerce</option>
                            <option value="mobile">Mobile</option>
                            <option value="retail">Retail</option>
                            <option value="technology">Technology</option>
                            <option value="wedding">Wedding</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-10">Multiple select</label>
                        <div class="col-sm-9">
                          <select id="form-control-10" class="form-control" multiple="multiple">
                            <option value="c-plus-plus">C++</option>
                            <option value="css">CSS</option>
                            <option value="java">Java</option>
                            <option value="javascript">JavaScript</option>
                            <option value="php">PHP</option>
                            <option value="python">Python</option>
                            <option value="ruby">Ruby</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-11">File input</label>
                        <div class="col-sm-9">
                          <input id="form-control-11" type="file" accept="image/*" multiple="multiple">
                          <p class="help-block">
                            <small>Unlimited number of files can be uploaded to this field. Allowed types: png gif jpg
                              jpeg.
                            </small>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Checkboxes and radios</label>
                        <div class="col-sm-9">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="signed" checked="checked"> Keep me signed in
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="period" value="day"> Day
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="period" value="week" checked="checked"> Week
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="period" value="month"> Month
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-divider">Custom form element
              <span class="panel-subtitle">Custom form elements with overriding styles</span>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-21">Custom select</label>
                        <div class="col-sm-9">
                          <select id="form-control-21" class="custom-select">
                            <option value="" selected="selected">Day of the week</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                            <option value="7">Sunday</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-22">Custom file inputs</label>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input class="form-control" type="text" placeholder="Choose file...">
                            <span class="input-group-btn">
                          <label class="btn btn-primary file-upload-btn">
                            <input class="file-upload-input" type="file" name="file">
                            <i class="icon mdi mdi-upload"></i>
                          </label>
                        </span>
                          </div>
                          <p class="help-block">
                            <small>Click the button next to the input field.</small>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="row">
                        <label class="col-sm-3 control-label">Custom checkboxes</label>
                        <div class="col-sm-9">
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-control-default custom-checkbox">
                              <input class="custom-control-input" type="checkbox" name="custom" checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Default</span>
                            </label>
                            <label class="custom-control custom-control-primary custom-checkbox active">
                              <input class="custom-control-input" type="checkbox" name="custom" checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Primary</span>
                            </label>
                            <label class="custom-control custom-control-success custom-checkbox">
                              <input class="custom-control-input" type="checkbox" name="custom" checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Success</span>
                            </label>
                            <label class="custom-control custom-control-info custom-checkbox">
                              <input class="custom-control-input" type="checkbox" name="custom" checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Info</span>
                            </label>
                            <label class="custom-control custom-control-warning custom-checkbox">
                              <input class="custom-control-input" type="checkbox" name="custom" checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Warning</span>
                            </label>
                            <label class="custom-control custom-control-danger custom-checkbox">
                              <input class="custom-control-input" type="checkbox" name="custom" checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Danger</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="row">
                        <label class="col-sm-3 control-label">Custom checkboxes validation states</label>
                        <div class="col-sm-9">
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-control-success custom-checkbox has-success">
                              <input class="custom-control-input" type="checkbox" name="validation">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">With success</span>
                            </label>
                            <label class="custom-control custom-control-warning custom-checkbox has-warning">
                              <input class="custom-control-input" type="checkbox" name="validation">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">With warning</span>
                            </label>
                            <label class="custom-control custom-control-danger custom-checkbox has-error">
                              <input class="custom-control-input" type="checkbox" name="validation">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">With error</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="row">
                        <label class="col-sm-3 control-label">Switches</label>
                        <div class="col-sm-9">
                          <div class="switches-stacked">
                            <label class="switch">
                              <input type="checkbox" name="switches" class="s-input">
                              <span class="s-content">
                            <span class="s-track"></span>
                            <span class="s-handle"></span>
                          </span>
                            </label>
                            <label class="switch switch-primary">
                              <input type="checkbox" name="switches" class="s-input" checked="checked">
                              <span class="s-content">
                            <span class="s-track"></span>
                            <span class="s-handle"></span>
                          </span>
                            </label>
                            <label class="switch switch-success">
                              <input type="checkbox" name="switches" class="s-input" checked="checked">
                              <span class="s-content">
                            <span class="s-track"></span>
                            <span class="s-handle"></span>
                          </span>
                            </label>
                            <label class="switch switch-info">
                              <input type="checkbox" name="switches" class="s-input" checked="checked">
                              <span class="s-content">
                            <span class="s-track"></span>
                            <span class="s-handle"></span>
                          </span>
                            </label>
                            <label class="switch switch-warning">
                              <input type="checkbox" name="switches" class="s-input" checked="checked">
                              <span class="s-content">
                            <span class="s-track"></span>
                            <span class="s-handle"></span>
                          </span>
                            </label>
                            <label class="switch switch-danger">
                              <input type="checkbox" name="switches" class="s-input" checked="checked">
                              <span class="s-content">
                            <span class="s-track"></span>
                            <span class="s-handle"></span>
                          </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Custom radios</label>
                        <div class="col-sm-9">
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-control-primary custom-radio">
                              <input class="custom-control-input" type="radio" name="period" value="day">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Day</span>
                            </label>
                            <label class="custom-control custom-control-primary custom-radio">
                              <input class="custom-control-input" type="radio" name="period" value="week"
                                     checked="checked">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Week</span>
                            </label>
                            <label class="custom-control custom-control-primary custom-radio">
                              <input class="custom-control-input" type="radio" name="period" value="month">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-label">Month</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
