<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6">
        <div class="panel panel-default panel-table">
          <div class="panel-heading panel-heading-no-divider">Table Panel<span class="panel-subtitle">Table without whitespace and take full width of the panel</span></div>
          
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 32px"></th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Country</th>
                      <th>Sales</th>
                      <th style="width: 5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Jonathan Mel</td>
                      <td>
                        April 6, 2017
                        <br>
                        <small class="text-muted">8:30</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us"></span>
                      </td>
                      <td>98</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Landon Graham</td>
                      <td>
                        March 31, 2017
                        <br>
                        <small class="text-muted">2:25</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-gb"></span>
                      </td>
                      <td>105</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Ron Carran</td>
                      <td>
                        February 14, 2017
                        <br>
                        <small class="text-muted">5:40</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us"></span>
                      </td>
                      <td>87</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Lucius Skyle</td>
                      <td>
                        January 12, 2017
                        <br>
                        <small class="text-muted">4:50</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-fr"></span>
                      </td>
                      <td>145</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-no-divider">Table Striped<span class="panel-subtitle">Table with alternative shades for order and even rows </span></div>
          
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Registration</th>
                      <th>Sales</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jonathan Mel</td>
                      <td>12/04/2017</td>
                      <td>98</td>
                      <td>
                        <span class="label label-outline-success">Active</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Landon Graham</td>
                      <td>14/03/2017</td>
                      <td>105</td>
                      <td>
                        <span class="label label-outline-warning">Expired</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Lucius Skyle</td>
                      <td>17/02/2017</td>
                      <td>145</td>
                      <td>
                        <span class="label label-outline-info">In process</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Vance Osborn</td>
                      <td>10/01/2017</td>
                      <td>45</td>
                      <td>
                        <span class="label label-outline-success">Active</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Larry Hall</td>
                      <td>05/01/2017</td>
                      <td>37</td>
                      <td>
                        <span class="label label-outline-info">In process</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>