
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-dollar"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Today's Earnings</h5>
                            <h1 class="mt5">$8,102.32</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">$29,009</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">$99,103</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-users"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">New User Accounts</h5>
                            <h1 class="mt5">138,102</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">10,009</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">178,222</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-pencil"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">New User Posts</h5>
                            <h1 class="mt5">153,900</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">144,009</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">987,212</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
