<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <!-- input-group -->
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
            <!-- /input-group -->
        </li>
        <li class="user-pro">
            <a href="#" class="text-center">
                <div class="profile-img">
                    <img src="assets/images/profile.jpg"/>
                </div>
                <span>Steve Gection</span>
                <small class="text-center">Senior Developer</small>
            </a>
        </li>
        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="waves-effect"><i class="fa fa-home"></i> <span
                class="hide-menu">Dashboard</span></a></li>
        <!-- <li class=""><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope-o"></i> <span
                class="hide-menu"> Mailbox <span class="fa arrow"></span><span
                class="label label-rouded label-danger pull-right">6</span></span></a>
        </li> -->
        <li>
            <a [routerLink]="['/ui-elements']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">UI Elements</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/forms']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Form</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/tables']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Tables</span>
            </a>
        </li>
    </ul>
</div>